{% extends 'master.html' %}

{% block title %}
    <title>About us</title>
{% endblock %}


{% block content %}
    <h2 class="text-center text-danger">Meet Our Team</h2>
    <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam blanditiis, corporis dicta dolores in minima minus modi molestiae nesciunt nulla quasi quibusdam, quisquam quod quos ratione repudiandae sunt totam veniam.</span><span>Accusantium, alias architecto aut beatae dolore ducimus eum eveniet explicabo laudantium maxime officiis pariatur possimus quia quod similique vel voluptatum! Autem laboriosam, natus odio odit quod rem repellat tempore ut?</span><span>Aliquam cumque doloremque ducimus, eligendi eveniet fugit iusto laborum laudantium maxime minus nam nostrum officia perspiciatis porro possimus quisquam ratione similique voluptatum. Assumenda aut dolor dolorem minima nulla? Necessitatibus, quia.</span>
    </p> 
    
    <h2>Our Products</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquam architecto blanditiis consectetur dolorem et id placeat quibusdam ratione voluptatibus. Accusamus animi autem cum error optio quisquam reiciendis rerum, velit.</p>
    
   
{% endblock %}